<aside class="app-navbar">
  <!-- begin sidebar-nav -->

  <div class="sidebar-nav scrollbar scroll_light">
    <ul class="metismenu " id="sidebarNav">
      <li class="nav-static-title">Administrateur</li>
      <li class="active">
        <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
          <i class="dashicons dashicons-admin-home"></i>
          <span class="nav-title">Tableau de bord</span>
          <span class="nav-label label label-danger">7</span>
        </a>

      </li>
      <li><a routerLink="/home/candidat" aria-expanded="false"><i class="dashicons dashicons-businessman"></i><span
        class="nav-title">Candidat</span></a></li>

      <li><a routerLink="/home/entreprise" aria-expanded="false"><i class="dashicons dashicons-id-alt"></i><span
        class="nav-title">Entreprise</span></a></li>

      <li><a routerLink="/home/domaine" aria-expanded="false"><i class="dashicons dashicons-editor-alignleft"></i><span
        class="nav-title">Domaine</span></a></li>

      <li><a routerLink="/home/specialite" aria-expanded="false"><i class="dashicons dashicons-editor-ul"></i><span
        class="nav-title">Spécialité</span></a></li>

      <li><a routerLink="/home/competence" aria-expanded="false"><i class="dashicons dashicons-editor-ul"></i><span
        class="nav-title">Compétence</span></a></li>

<li><a routerLink="/home/test" aria-expanded="false"><i class="dashicons dashicons-welcome-write-blog"></i><span
        class="nav-title">Test</span></a></li>

      <li><a routerLink="/home/offre" aria-expanded="false"><i class="dashicons dashicons-feedback"></i><span
        class="nav-title">Offre</span></a></li>

      <li><a routerLink="/home/CV" aria-expanded="false"><i class="dripicons dripicons-document"></i><span
        class="nav-title">CV</span></a></li>
    </ul>
  </div>
  <!-- end sidebar-nav -->
</aside>
